/*-------------------------------------------------------
34. Blog css  
---------------------------------------------------------*/



.blog-box {
	background: var(--clr-bg);
	.blog-pic {
		padding: 0 9rem 0 0;
		img {
			border-radius: 0 0 5rem;
		}
	}
	.blog-bio {
		text-align: right;
		margin-top: -6rem;
		padding-right: 2rem;
		.blog-user {
			img {
				border-radius: 50%;
				display: inline-block;
				margin-bottom: 1.5rem;
				border: 1px solid var(--clr-def);
			}
		}
		span {
			display: block;
			color: var(--clr-heading);
		}
		h4 {
			margin-bottom: 0;
		}
	}
	.blog-meta {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 2rem;
		li {
			color: var(--clr-heading);
			i {
				color: var(--clr-def);
				margin-right: 1rem;
			}
		}
	}
	.blog-desc {
		padding: 3rem;
		.heading-3 {
			margin-bottom: 3rem;
		}
	}
}

.blog-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.meta-date {
	padding: 2px 7px;
	border-radius: 3px;
	color: var(--clr-heading);
	font-size: 1.7rem;
	font-weight: 600;
	text-decoration: underline;
}

