
/*-------------------------------------------------------
31. Price css
---------------------------------------------------------*/

.price-box {
	background-color: var(--clr-white);
	padding: 40px 40px 40px 40px;
	border-right: 2px solid #efefff;
	.price-value {
		font-size: 55px;
		line-height: 1em;
		font-weight: 600;
		margin-bottom: 3rem;
		sub {
			position: relative;
			top: -5px;
			font-size: 16px;
			line-height: 1em;
			color: #67687a;
		}
	}
	.price-title-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 3rem;
		padding-bottom: 3rem;
		border-bottom: 2px solid #eaeaea;
		.price-icon {
			i {
				display: block;
				width: 7rem;
				margin-bottom: 2rem;
			}
			.price-pack {
				background: var(--clr-gradient-4);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				font-size: 15px;
				font-weight: 700;
			}
		}
		.price-discount-box {
			p {
				color: var(--clr-heading);
				font-weight: 600;
				padding: 5px 7px;
				border: 1px solid #eaeaea;
				.price-tag {
					color: var(--clr-white);
					background: var(--clr-gradient-4);
					padding: 3px 7px;
					border-radius: 4px;
					margin-left: 6px;
					font-size: 16px;
					line-height: 1;
					font-weight: 500;
				}
			}
			.icon-circle-aro {
				
			}
		}
	}
	.price-features {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-bottom: 3rem;
		li {
			color: #67687a;
		}
	}
	.price-bottom {
		a {
			font-size: 15px;
			i {
				font-size: 1.2rem;
			}
		}
	}
}

.pricing-style-active {
    transform: scale(1.1);
    border: 2px solid var(--clr-def);
    border-radius: 10px;
	position: relative;
	z-index: 1;
	padding-top: 2.5rem;
	&::before {
		@include pos-abs(var(--clr-gradient-4),10rem,100%,1);
		top: -1px;
		left: 0;
		border-radius: 10px 10px 10px 10px;
	}
	.price-value {
		color: var(--clr-white);
		margin-bottom: 50px;
		sub {
			color: var(--clr-white);
		}
	}
}

.pricing-style-radious {
	&:first-child {
		border-radius: 10px 0 0 10px;
	}
	&:last-child {
		border-radius: 0 10px 10px 0;
	}
}


